<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% include 'cdnlines.html'%}

</head>
<body class="bg-gradient">
   <div class="container-fluid">
    <h1 class="text-center">Students Information</h1>
    <div class="text-center">
        {% if data %}
        <table class="table table-bordered text-center">
            <thead class="text-bg-dark">
                <tr>
                    <th>Fisrt name</th>
                    <th>last name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Institute name</th>
                    <th>Fee</th>
                    <th>Marks</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-bg-warning">
               {%for i in data%}
               <tr>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.emil}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.iname}}</td>
                <td>{{i.fee}}</td>
                <td>{{i.marks}}</td>
                <td>{{i.location}}</td>
                <td>
                    <a href="{% url 'update' i.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                </td>
               </tr>
               {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>No records found</h1>
        {% endif %}
        <a href="studentData" class="btn btn-outline-success">Add New Student</a>
    </div>
    
   </div>
    
</body>
</html>
